<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<head>
    <link rel="stylesheet" href="../../css/report.css">
    <!--link rel="stylesheet" href="../../css/style.css"-->
    <!--Agregado para probar -->
    <!--link href="../../css/plugins/jvectormap/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../css/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../js/tabla/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../../css/tablas/dataTables.bootstrap.css" rel="stylesheet" type="text/css" media="screen">
    <link href="../../css/plugins/switchery/switchery.css" rel="stylesheet" type="text/css" media="screen" /-->
</head>

<body>

    <!-- Repeater por empresa  -->
    {% for totales in listaTotales %}
    <div class="principal">
        <div class="header">
            <img src="\images\reporte\logoA.png" class="logo">
            <div class="title">REPORTE DE BURÓ DE CRÉDITO</div>
            <div class="sucursalesEmpresa">{{ totales[0].empresa }}</div>
            <div class="fecha">FECHA DE CONSULTA: {{informacioncliente.fechaConsulta}}</div>
            <!--            <img src="\images\grafica.jpg" class="grafica">-->
        </div>
        <div class="contenedorHeader">
            <div class="cliente">
                <table border="0" bgcolor="white">
                    <th align="center" colspan="2" class="clienteHeader"><b>DATOS DEL CLIENTE:</b> </th>
                    <tr>
                        <td><b>Id Cliente BPRO:</b></td>
                        <td>{{informacioncliente.idCliente}}</td>
                    </tr>
                    <tr>
                        <td><b>Nombre:</b></td>
                        <td>{{informacioncliente.nombre}}</td>
                    </tr>
                    <tr>
                        <td><b>Dirección:</td>
                                <td>{{informacioncliente.calle}}</td>
                            </tr>
                            <tr>
                                <tr>
                                    <td><b>Teléfono:</b></td>
                        <td>{{informacioncliente.telefono}}</td>
                    </tr>
                    <tr>
                        <tr>
                            <td><b>RFC:</b></td>
                            <td>{{informacioncliente.rfc}}</td>
                        </tr>
                </table>
            </div>
            <div class="sucursales">
                <!--div class="sucursalesHeader">
                    <div class="sucursalesEmpresa">EMPRESA:</div> {{ totales[0].empresa }}</div-->
                <table border="0" bgcolor="white" class="tablePagado">
                    <!--class="tablaReporte"-->
                    <tr>
                        <th align="center" colspan="4" class="sucursalesDetalleHeader"><b>LIMITE DE CRÉDITO POR AGENCIA:</b></th>
                    </tr>
                    <tr class="thPagado">
                        <th><b>Sucursal</b></th>
                        <th><b>Departamento</b></th>
                        <th><b>Crédito</b></th>
                    </tr>
                    {% set sumalimites = 0 %}{% for total in totales %} {% set sumalimites = sumalimites + total.credito %}
                    <tr class="tdPagado">
                        <td>{{total.sucursal}}</td>
                        <td>{{total.departamento}}</td>
                        <td class="tdMonto">{{total.credito | currency('$')}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="total"><strong>{{ sumalimites | currency('$')}}</strong></div>
            </div>
        </div>
        <!--Listado de Documentos -->
        <div class="headerDetalle">MOVIMIENTOS FACTURADOS</div>
        {{ listaDocNoPagados[0] }}
        <section id="infoNoPagado">
            <div class="titleSection gris" style="color: #E20049;">CARTERA</div>
            <table border="0" bgcolor="white" class="tablePagado">
                <tr class="thPagado">
                    <th colspan="1" rowspan="2"><b>Departamento</b></th>
                    <th colspan="2"><b>Por Vencer</b></th>
                    <th colspan="2"><b>1 a 30 dias</b></th>
                    <th colspan="2"><b>31 a 60 dias</b></th>
                    <th colspan="2"><b>61 a 90 dias</b></th>
                    <th colspan="2"><b>Mas de 90</b></th>
                    <th colspan="1" rowspan="2"><b>Estatus</b></th>
                </tr>
                <tr class="thPagado">
                    <th colspan="1"><b>Num. Doc.</b></th>
                    <th colspan="1"><b>Importe</b></th>
                    <th colspan="1"><b>Num. Doc.</b></th>
                    <th colspan="1"><b>Importe</b></th>
                    <th colspan="1"><b>Num. Doc.</b></th>
                    <th colspan="1"><b>Importe</b></th>
                    <th colspan="1"><b>Num. Doc.</b></th>
                    <th colspan="1"><b>Importe</b></th>
                    <th colspan="1"><b>Num. Doc.</b></th>
                    <th colspan="1"><b>Importe</b></th>
                </tr>
                {% set sumanopagados = 0 %}{% for docnopagados in listaDocNoPagados %} {% for docnopagado in docnopagados %} {% if docnopagado.idEmpresa == totales[0].idEmpresa %} {% set sumanopagados = sumanopagados + docnopagado.saldoTotal %}
                <tr class="tdPagado">
                    <td>{{docnopagado.departamento}}</td>
                    <td class="tdNum">{{docnopagado.conteoTotal}}</td>
                    <td class="tdMonto">{{docnopagado.saldoTotal | currency('$')}}</td>
                    <td class="tdNum">{{docnopagado.conteoP}}</td>
                    <td class="tdMonto">{{docnopagado.saldoP | currency('$')}}</td>
                    <td class="tdNum">{{docnopagado.conteoS}}</td>
                    <td class="tdMonto">{{docnopagado.saldoS | currency('$')}}</td>
                    <td class="tdNum">{{docnopagado.conteoT}}</td>
                    <td class="tdMonto">{{docnopagado.saldoT | currency('$')}}</td>
                    <td class="tdNum">{{docnopagado.conteoC}}</td>
                    <td class="tdMonto">{{docnopagado.saldoC | currency('$')}}</td>
                    <td class="tdMonto"><img src="\images\error5.png" width="25" height="25"></td>
                </tr>
                {% endif %} {% endfor %} {% endfor %}
            </table>
            <div class="total"><strong>{{ sumanopagados | currency('$')}}</strong></div>
        </section>

        <section id="infoPagoNoPuntual">
            <div class="titleSection gris" style="color: #F79F24;">PAGO EXTEMPORÁNEO</div>
            <table border="0" bgcolor="white" class="tablePagado">
                <tr class="thPagado">
                    <th><b>Empresa</b></th>
                    <th><b>Sucursal</b></th>
                    <th><b>Departamento</b></th>
                    <th><b>Total Doctos</b></th>
                    <th><b>Saldo</b></th>
                    <th><b>Estatus</b></th>
                </tr>
                {% set sumainpuntual = 0 %}{% for docpagados in listaDocPagados %} {% for docpagado in docpagados %}{% if docpagado.idEmpresa == totales[0].idEmpresa %}{% if docpagado.tipoPagoFecha == 2 %} {% set sumainpuntual = sumainpuntual + docpagado.cargo %}
                <tr class="tdPagado">
                    <td>{{docpagado.empresa}}</td>
                    <td>{{docpagado.sucursal}}</td>
                    <td>{{docpagado.departamento}}</td>
                    <td>{{docpagado.totalDoctos}}</td>
                    <td class="tdMonto">{{docpagado.cargo | currency('$')}}</td>
                    <td class="tdMonto"><img src="\images\alerta5.png" width="25" height="25"></td>
                </tr>
                {% endif %} {% endif %} {% endfor %}{% endfor %}
            </table>
            <div class="total"><strong>{{ sumainpuntual | currency('$')}}</strong></div>
        </section>

        <section id="infoPagoPuntual">
            <div class="titleSection gris" style="color: #9ACD32;">PAGO PUNTUAL</div>
            <table border="0" bgcolor="white" class="tablePagado">
                <tr class="thPagado">
                    <th><b>Empresa</b></th>
                    <th><b>Sucursal</b></th>
                    <th><b>Departamento</b></th>
                    <th><b>Total Doctos</b></th>
                    <th><b>Saldo</b></th>
                    <th><b>Estatus</b></th>
                </tr>
                {% set sumapagados = 0 %} {% for docpagados in listaDocPagados %} {% for docpagado in docpagados %} {% if docpagado.idEmpresa == totales[0].idEmpresa %}{% if docpagado.tipoPagoFecha == 1 %} {% set sumapagados = sumapagados + docpagado.cargo %}
                <tr class="tdPagado">
                    <td>{{docpagado.empresa}}</td>
                    <td>{{docpagado.sucursal}}</td>
                    <td>{{docpagado.departamento}}</td>
                    <td>{{docpagado.totalDoctos}}</td>
                    <td class="tdMonto">{{docpagado.cargo | currency('$')}}</td>
                    <td class="tdMonto"><img src="\images\correcto5.png" width="25" height="25"></td>
                </tr>
                {% endif %} {% endif %} {% endfor %}{% endfor %}
            </table>
            <div class="total"><strong>{{ sumapagados | currency('$')}}</strong></div>
        </section>
    </div>
    <!-- Salto de Pagina en PDF -->
    <div style="page-break-after: always;"></div>
    {% endfor %}
    <!-- Fin de repeater por empresa-->
</body>

</html>
