<!--Div principal-->
<div ng-init="init()">
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">Consulta Buró De Crédito</h1>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Búsqueda de Cliente</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">
                <div class="col-xs-7">
                    <h4>Introduce un Cliente:</h4>
                    <form class="form-inline">
                        <div class="form-group">
                            <input class="form-control" ng-model="idBusqueda" placeholder="ID BPRO">
                        </div>
                        <div class="form-group">
                            <input class="form-control" ng-model="txtBusqueda" placeholder="Nombre o RFC">
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="BuscaCliente(idBusqueda,txtBusqueda)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbspBuscar</button>
                    </form>
                </div>
                <div class="col-xs-5">
                    <h4>Consulta por Fecha:</h4>
                    <form class="form-inline">
                        <!-- begin filtro por fechas -->
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control datepicker" data-format="dd/mm/yyyy" ng-model="fechaInicio" name="txtInicio" placeholder="Fecha de inicio" ng-change="validarFechar(fechaInicio,fechaTermino)">
                            </div>
                        </div>
                        <div class="form-group"> - </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control datepicker" data-format="dd/mm/yyyy" ng-model="fechaTermino" name="txtFin" ng-change="validarFechar(fechaInicio,fechaTermino)" placeholder="Fecha de término">
                            </div>
                        </div>
                        <!-- end filtro por fechas -->
                    </form>
                </div>
                <!--  Prueba-->
                <div class="tableContent">
                    <br>
                    <br>
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>RFC</th>
                                <th>Correo</th>
                                <th>Resumen</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" cliente in listaClientes">
                                <td> {{ cliente.idCliente }} </td>
                                <td> {{ cliente.nombre }} </td>
                                <td> {{ cliente.rfc }} </td>
                                <td> {{ cliente.email }} </td>
                                <td>
                                    <button class="btn btn-primary " tooltip="Ir" data-toggle="tooltip" data-placement="top" title="Reporte de Crédito" ng-click="verDetalleReporte(cliente,fechaInicio,fechaTermino,1)" ng-hide="ocultarBtnBuscar==1">
                                        <span class="fa fa-binoculars" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-info" tooltip="Ir" data-toggle="tooltip" data-placement="top" title="Reporte de Crédito" ng-click="verDetalleReporte(cliente,fechaInicio,fechaTermino,2)" ng-hide="ocultarBtnBuscar==1">
                                        <span class="fa fa-binoculars" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
