<link href="../../css/detalleContrato.css" rel="stylesheet" />
<!--Div principal-->
<div ng-init="init()">
    <!--Titulo de Pagina  -->
    <div class='col-xs-12'>
        <div class="page-title">
            <div class="pull-left">
                <h1 class="title">Contratos</h1>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary pull-right" ui-sref="nuevocontrato">
            Nuevo Contrato
        </button>
    </div>
    <div class="col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Lista por Departamento</h2>
            </header>
            <div class="content-body">
                <!--busqueda por Empresa/Sucursal/Depto -->
                <!-- <h4>Filtrar por:</h4>
                <form class="form-inline ng-pristine ng-valid">
                    <div class="form-group">
                        <select class="form-control" ng-model="seleccion.idEmpresa" ng-options="tipoEmpresa.idEmpresa as tipoEmpresa.nombreEmpresa for tipoEmpresa in listaEmpresas" ng-change="cargaSucursales(15,seleccion.idEmpresa)" id="cboEmpresa">
                            <option value="">Empresa</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="seleccion.idSucursal" ng-options="tipoSucursal.idSucursal as tipoSucursal.nombreSucursal for tipoSucursal in listaSucursales" ng-change="cargaDepartamentos(15,seleccion.idEmpresa,seleccion.idSucursal)" id="cboSucursal" name="txtRequerido">
                            <option value="">Sucursal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="seleccion.idDepartamento" ng-model="seleccion.idDepartamento" ng-options="tipoDepartamento.idDepartamento as tipoDepartamento.nombreDepartamento for tipoDepartamento in listaDepartamentos" id="cboDepartamento" ng-change="cargaContratosUser(15,seleccion.idEmpresa,seleccion.idSucursal,seleccion.idDepartamento)" name="txtRequerido">
                            <option value="">Departamento</option>
                        </select>
                    </div>
                </form>
                <br> -->
                <!--Empresa/Sucursal/Depto-->
                <!--busqueda por Empresa/Sucursal/Depto -->
                <h4>Filtrar por:</h4>
                <form class="form-inline">
                    <div class="form-group" id="filter_col3" data-column="2">
                        <input type="text" class="column_filter form-control" id="col2_filter" placeholder="Empresa">
                    </div>
                    <div class="form-group" id="filter_col4" data-column="3">
                        <input type="text" class="column_filter form-control" id="col3_filter" placeholder="Sucursal">
                    </div>
                    <div class="form-group" id="filter_col5" data-column="4">
                        <input type="text" class="column_filter form-control" id="col4_filter"  placeholder="Departamento">
                    </div>
                </form>
                <br>
                <!--Empresa/Sucursal/Depto-->
                <div class="row">
                    <div class="col-xs-12">                        
                        <table class="display estiloTabla" id="tablaR">
                            <thead class="gris">
                                <tr class="active">
                                    <th>ID BPRO</th>
                                    <th>Cliente</th>
                                    <th>Empresa</th>
                                    <th>Sucursal</th>
                                    <th>Departamento</th>
                                    <th>Contrato</th>
                                    <th>Tipo Contrato</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Término</th>
                                    <th>Límite Crédito</th>
                                    <th>Consultar</th>
                                    <th ng-hide="true">idEmpresa</th>
                                    <th ng-hide="true">idSucursal</th>
                                    <th ng-hide="true">idDepartamento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="contrato in listaContratos">
                                <!-- | filter:(seleccion.idEmpresa != undefined && seleccion.idSucursal == undefined ? {idEmpresa: seleccion.idEmpresa}: (seleccion.idEmpresa != undefined && seleccion.idSucursal != undefined && seleccion.idDepartamento == undefined ? {idSucursal: seleccion.idSucursal, idEmpresa: seleccion.idEmpresa}: (seleccion.idEmpresa != undefined && seleccion.idSucursal != undefined && seleccion.idDepartamento != undefined ?
                                                  {idDepartamento:seleccion.idDepartamento,idSucursal: seleccion.idSucursal, idEmpresa: seleccion.idEmpresa}:'') ) ) -->
                                    <td>{{ contrato.idCliente }}</td>
                                    <td>{{ contrato.nombreCliente }}</td>
                                    <td>{{ contrato.empresa }}</td>
                                    <td>{{ contrato.sucursal }}</td>
                                    <td>{{ contrato.departamento }}</td>
                                    <td>{{ contrato.folioContrato }}</td>
                                    <td>{{ contrato.nomTipoContrato }}</td>
                                    <td>{{ contrato.fechaInicio | date:"dd/MM/yyyy"}}</td>
                                    <td>{{ contrato.fechaTermino | date:"dd/MM/yyyy"}}</td>
                                    <td class="tdMonto">{{ contrato.limiteCredito | currency}}</td>
                                    <td align="center">
                                        <button type="button" class="btn btn-primary linkedin" tooltip="Ver" ng-click="verDetalleContrato(contrato)">
                                            <span class="fa fa-binoculars" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td ng-hide="true">{{ contrato.idEmpresa }}</td>
                                    <td ng-hide="true">{{ contrato.idSucursal }}</td>
                                    <td ng-hide="true">{{ contrato.idDepartamento }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
