<link href="css/plugins/switchery/switchery.css" rel="stylesheet" type="text/css" media="screen" />
<div ng-init="init()">
    <!--Titulo de Pagina  -->
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Captura de Tipo de Contrato</h1>
        </div>
    </div>
    <!--Datos Tipo Contrato -->

    <form role="form" name="myForm">

        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Datos Generales: </h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="form-label">Nombre del Tipo de Contrato: </label>
                            <input class="form-control" id="nombreTipo" type="text" ng-model="contratoEditar.nombreContrato" placeholder="Nombre" required>
                            <span style="color:red" ng-show="myForm.contratoEditar.nombreContrato.$invalid">
<span ng-show="myForm.contratoEditar.nombreContrato.$error.required">Nombre Tipo Contrato es Requerido.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Descripción:</label>
                            <input class="form-control" id="descripcionTipo" type="text" ng-model="contratoEditar.descripcion" placeholder="Descripción del Contrato" required>
                            <span style="color:red" ng-show="myForm.contratoEditar.descripcion.$invalid">
<span ng-show="myForm.contratoEditar.descripcion.$error.required">Descripcion es Requerido.</span>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="input-group">
                                    Fecha de inicio
                                    <div class="input-group">
                                        <input type="text" id="fechaCreacion" class="form-control datepicker" data-format="dd/mm/yyyy" value="" ng-model="contratoEditar.fechaCreacion" required>
                                        <span style="color:red" ng-show="myForm.contratoEditar.fechaCreacion.$invalid">
                             <span ng-show="myForm.contratoEditar.fechaCreacion.$error.required">Fecha Creacion es Requerido.</span>
                                        </span>
                                    </div>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="input-group">
                                    Fecha de término
                                    <div class="input-group">
                                        <input type="text" id="fechaTermino" class="form-control datepicker" data-format="dd/mm/yyyy" ng-model="contratoEditar.fechaTermino" required>
                                        <span style="color:red" ng-show="myForm.contratoEditar.fechaTermino.$invalid">
                                               <span ng-show="myForm.contratoEditar.fechaTermino.$error.required">Fecha Termino es Requerido.</span>
                                        </span>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Tabla Documentos-->
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Documentos Requeridos:</h2>
            </header>

            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!--form role="form"-->
                        <table class="display estiloTabla" id="tablaD">
                            <thead style="background-color: #F8F8F8;">
                                <tr>
                                    <th>Seleccionar</th>
                                    <th>Obligatorio</th>
                                    <th>Tipo de Documento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat=" documento in listaDocumentos">
                                    <td scope="row">
                                        <input type="checkbox" ng-init="(documento.seleccion == 1)?documento.seleccionado=true:documento.seleccionado=false" ng-model="documento.seleccionado" aria-label="Checkbox for following text input" ng-checked="{{ documento.seleccion}}">
                                        <!-- {{ documento.seleccionado}}<input type="checkbox" class="js-switch-blue checkbox" ng-model="documento.seleccionado"/> -->
                                    </td>
                                    <td scope="row">
                                        <input type="checkbox" ng-init="(documento.obligatorio == 1)?documento.obligatorios=true:documento.obligatorios=false" ng-model="documento.obligatorios" aria-label="Checkbox for following text input" ng-disabled="documento.seleccionado!=true" ng-checked="{{ documento.obligatorios }}">
                                        <!-- {{ documento.obligatorios }}<input type="checkbox" class="js-switch-blue checkbox" ng-model="documento.seleccionado"/> -->
                                    </td>
                                    <!-- <th scope="row">
                                                    <input type="checkbox" class="js-switch-red checkbox"/>
                                                </th> -->
                                    <td>{{documento.nombre}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Botones -->
                        <ul class="pager wizard">
                            <li class="finish" style="display:;"><a href="javascript:;" ng-click="modalDocumentos()">Agregar Documentos</a></li>
                            <li class="finish" style="display:;"><a href="javascript:;" ng-click="validarForm(2,listaDocumentos,contratoEditar.fechaCreacion,contratoEditar.fechaTermino)" ng-show="opcion==2">
                                        Actualizar Cambios</a></li>
                            <!--li class="finish" style="display:;"><a href="javascript:;" ng-click="CrearTipo(listaDocumentos)" ng-show="opcion==1" ng-disabled="myForm.contratoEditar.nombreContrato.$invalid || myForm.contratoEditar.descripcion.$invalid || myForm.contratoEditar.fechaCreacion.$invalid || myForm.contratoEditar.fechaTermino.$invalid">
                                        Guardar contrato</a></li-->
                            <li class="finish" style="display:;"><a href="javascript:;" ng-click="validarForm(1,listaDocumentos,contratoEditar.fechaCreacion,contratoEditar.fechaTermino)" ng-show="opcion==1">
                                        Guardar Tipo Contrato</a></li>
                        </ul>
                        <!-- Botones -->
                        <!--/form-->
                    </div>
                </div>
            </div>
            <!--Tabla Documentos-->
        </section>
        <!--/form-->
        <!--FIN Datos Tipo Contrato-->
</div>

<div class="modal" id="agregarDocumentos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog animated bounceInDown">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Documentos </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="field-2" class="control-label">Nombre del tipo de documento</label>
                    <input type="text" class="form-control" id="field-2" placeholder="Nombre del documento" ng-model="nuevoDocumento.nombreDocumento">
                    <label for="field-2" class="control-label">Descripción</label>
                    <input type="text" class="form-control" id="field-2" placeholder="Nombre del documento" ng-model="nuevoDocumento.descripcion">
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-danger" type="button" ng-click="insertDocumento(nuevoDocumento)">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- -->
<div class="col-xs-12">
    <button type="button" class="btn btn-primary pull-right" ng-click="Regresar()">Regresar</button>
</div>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="js/plugins/switchery/switchery.js" type="text/javascript"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
<!-- CORE TEMPLATE JS - START -->
<!-- END CORE TEMPLATE JS - END -->
